BROWSER=chrome
CUCUMBER_TAGS=@FullRun
SUITE_FILE=testng.xml
EXECUTION_MODE=remote
GRID_URL=http://selenium-hub:4444/wd/hub
GRID_MAX_SESSIONS=16
SE_NODE_MAX_SESSIONS=1
SE_NODE_SESSION_TIMEOUT=300

# Jenkins container host binding
JENKINS_HOST_PORT=8090
JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000
DOCKER_SOCK_PATH=/var/run/docker.sock
