BROWSER=chrome
CUCUMBER_TAGS=@FullRun
SUITE_FILE=testng.xml
EXECUTION_MODE=remote
GRID_URL=http://selenium-hub:4444/wd/hub
GRID_MAX_SESSIONS=16
SE_NODE_MAX_SESSIONS=1
SE_NODE_SESSION_TIMEOUT=300

# Jenkins container host binding
JENKINS_HOST_PORT=8090
JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000
DOCKER_SOCK_PATH=/var/run/docker.sock

# Seed job configuration (not shown as build parameters)
SEED_REPO_URL=https://github.com/<your-user>/<your-repo>.git
SEED_REPO_BRANCH=master
# For private repo: create Jenkins credential and set its ID, e.g. github-pat
# For public repo: keep this blank
SEED_CREDENTIALS_ID=
SEED_JOB_CONFIG_GLOB=infra/jenkins/jobs/*.yml
SEED_DSL_SCRIPT=infra/jenkins/job-dsl/jobs-from-yaml.groovy
SEED_PIPELINE_TEMPLATE=infra/jenkins/pipelines/cucumber-job-template.groovy
